input {
    margin: 10px 0;
    width: 100%;
}
body {
    padding: 10px;
    background: #fff;
   
}
.main {
    outline: 1px solid blue;
}
textarea, input {
    resize: none;
    margin: 10px 0;
  
    
}